/src/SPReD/SPReD-NES/obj/*
/src/SPReD/SPReD-SMS/obj/*
/src/SPReD/SPReD-PCE/obj/*
/src/MAPeD/MAPeD-NES/obj/*
/src/MAPeD/MAPeD-SMS/obj/*
/src/MAPeD/MAPeD-PCE/obj/*
/src/MAPeD/MAPeD-ZX/obj/*
/src/MAPeD/MAPeD-SMD/obj/*
/src/SPSeD/obj/*
/src/MAPeD/packages/*
/src/SPReD/packages/*
/src/MAPeD/.vs/*
/src/SPReD/.vs/*
/src/lib/*
/samples/samples.sublime-project
/samples/samples.sublime-workspace
/samples/smd/tilemap_render/SGDK/exp_data_viewer/data/*
/samples/smd/tilemap_render/SGDK/exp_data_viewer/out/*